<hr/>
<div class="container fluid p-3 mb-2 bg-info text-white">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12">
            <h1>User Registration</h1>
        </div>
    </div>
    
    <div class="row" *ngIf="!isSubmitted">
    
        <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12">
    
            <form #regForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="form-group">
                    <div class="row">
                        <label for="name">Your Name</label>
                        <input id="name" #name="ngModel" name="tName" type="text" [(ngModel)]="user.name" placeholder="Your Name" class="form-control" required>
                        <div *ngIf ="name.errors && (name.touched || isSumbitted)">
                            <div [hidden]="!name.errors.required && name.dirty" class="help-block alert alert-danger">
                                 Your name is required!
                            </div>
                        </div>
                      </div>
                </div>

                <div class="form-group">
                  <div class="row">
                      <label for="email">Your email</label>
                      <input id="email" #email="ngModel" name="email" type="email" [(ngModel)]="user.email" placeholder="Your email" pattern= "[^ @]*@[^ @]*" class="form-control" required>
                      <div *ngIf ="email.errors && (email.touched || isSumbitted)">
                          <div [hidden]="!email.errors.required && email.dirty" class="help-block alert alert-danger">
                          Email is required!
                          </div>
                          <div [hidden] ="!email.errors.pattern" class="help-block alert alert-danger">
                            Invalid email.
                          </div>

                      </div>
                    </div>
              </div>
    
                <div class="form-group">
                    <div class="row">
                        <label for="password">Password</label>
                        <input id="password" #password="ngModel" name="password" type="password" [(ngModel)]="user.password" placeholder="password" class="form-control" pattern="(?=.*\d)(?=.*[@#$])(?=.*[a-z])(?=.*[A-Z]).{8,}$" required>
                        <div *ngIf ="password.errors && (password.touched || isSumbitted)">
                            <div [hidden]="!password.errors.required && password.dirty" class="help-block alert alert-danger">
                                 Password is required! </div>
                            <div [hidden]="!password.errors.pattern" class="help-block alert alert-danger">
                            Password must include special characters (@#$). Alphanumeric and both uppercase & lowercase.
                                </div>
    
                        </div>
                      </div>
                </div>
    
    
                <div class="form-group">
                    <div class="row">
                       <label for="gender">Gender</label>
                       &nbsp; &nbsp;
                      <input name="gender" type="radio" [(ngModel)] ="user.gender" value="{{gender[0]}}" required /> &nbsp; Male
                       &nbsp; &nbsp;
                      <input name="gender" type="radio" [(ngModel)] ="user.gender" value="{{gender[1]}}" /> &nbsp; Female
                    </div>

                </div>
    
                <div class="form-group">
                    <div class ="row">
                        <label for="dateOfBirth">Date of Birth</label>
                        <input id="dateOfBirth" #dateOfBirth="ngModel" name="dateOfBirth" type="date" [(ngModel)]="user.dateOfBirth" placeholder="Date of Birth" class="form-control" (ngChange)="onChange($event)" required/>
                  <div *ngIf ="dateOfBirth.errors && (dateOfBirth.touched || isSumbitted)">
                  <div [hidden]="!dateOfBirth.errors.required && name.dirty" class="help-block alert alert-danger">
                                Date of birth is required!
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                            <label for="mobile">Mobile Number</label>
                            <input id="mobile" name="mobile" type="tel" #mobile="ngModel" class="form-control" [(ngModel)]="user.mobile" pattern ="[0-9]*?" required/>
                       <div *ngIf="mobile.errors && (mobile.touched || isSubmitted)">
                                <div [hidden]="!mobile.errors.required && mobile.dirty" class="help-block alert alert-danger">
                                    Mobile is required.
                                </div>
                                <div [hidden]="!mobile.errors.pattern" class="help-block alert alert-danger">
                                  Invalid number
                                </div>
                        </div>
                        </div>
                </div>
                
                <div class="form-group">
                        <div class="row">
                            <label for="address">Address</label>
                            <textarea rows="4" cols="50" id="address" name="address" #address="ngModel" class="form-control" [(ngModel)]="user.address" required>
                            </textarea>
                            <div *ngIf="address.errors && (address.touched || isSubmitted)">
                                <div [hidden]="!address.errors.required && address.dirty" class="help-block alert alert-danger">
                                    Address is required.
                                </div>
                        </div> 
                        </div>
                      </div>

         <div class="form-group">
           <div class="row">
                          <label for="nationalities">Nationality</label>
                          <select class="form-control" #nationality="ngModel" id="nationalities" [(ngModel)]="user.nationalities" [ngModelOptions]="{standalone: true}" required>
                              <option *ngFor="let nationality of nationalities" [ngValue]="nationalities.value">
                                {{nationality.desc}}</option>
                          </select>
                          <p *ngIf="nationalities.length > 4">{{'Please select your nationality.'}}</p>
                          <div *ngIf="nationalities.errors && (nationalities.touched || isSubmitted)">
                                  <div [hidden]="!nationalities.errors.required && nationalities.dirty" class="help-block alert alert-danger">
                                      Nationality is required.
                                  </div>
                          </div>
           </div>
                      </div>
        
                  <div class="form-group">
                      <hr/>
                      <button type="submit" [disabled]="!regForm.form.valid" class="btn btn-dark">Submit</button>
                      <button type="reset" class="btn  btn-warning" (click)="regForm.reset()">Reset</button>
                  </div>
            </form>
        </div>
                
    </div>

    <div class="row" *ngIf="isSubmitted">
        <div class="col-6">
    <p>Thank you for your registration!</p>
        </div>

    </div>


</div>
<hr/>
